<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.rialivit.mimoku" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MimokuEntrance"
            android:label="@string/title_activity_mimoku_entrance" >
        </activity>
        <activity
            android:name=".MimokuManual"
            android:label="@string/title_activity_mimoku_manual" >
        </activity>
        <activity
            android:name=".KatsudonEncounter"
            android:label="@string/title_activity_katsudon_encounter" >
        </activity>
        <activity
            android:name=".KatsudonBattle"
            android:label="@string/title_activity_katsudon_battle" >
        </activity>
    </application>

</manifest>
